*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myInput{
    width: 200px;
    /* margin-left: 100px; */
}
.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
#container{
    position:absolute;
    width: 100%;
}
#searchComponent{
    width: 270px;
    margin-top: 10px;
    margin-left: 10px;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}
#search{
    background-color: #ACA7A6;
    margin-left: 10px;
    /* margin: 10px 10px 10px 10px; */
    width: 20px;
    position:absolute;
    z-index: 2;
}
#btn{
    margin-left: 300px;
}

#need{
    background-color: #474f49;
    color: white;
}

#submit, #all, #khaibao{
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.table{
    margin: 10px 10px 10px 10px;
    padding-right: 20px;
    max-width: 1230px;
}

img{
    width: 100%;
    height: 300px;
}